

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html * {
    font-family: "Verdana";

}

#description {
    margin-right: 20px;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-width:thin;
    border-color: #D8D8D8;

}

#bidder-price {
    color: forestgreen;
    font-size: 17px;
}

hr {
    color: black;
}

#icon {
    padding: 2px;
}

#bids {
    margin-right: 20px;
    background-color: #F6F6F6;
    padding: 10px;
    border-radius: 15px;
}

alert alert-primary {
    background-color: red;
}

.welcomeFeature {
    background-image: url(../images/welcome.jpg); 
    background-size: cover; 
    height: 500px; 
    width:auto
}
#post-title {
    font-weight: bold;
    color: #4C9B4A;
}

.homeIcons {
    font-size: 80px;
}
jumbotron {
    background-color: #f1f1f1;
}

#budget-header {
    padding-top: 5px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#budget {
    text-align: center;
    font-size: 150%;
}

#bid-button {
    width: 125px;
}

#budget-card {
    max-width: 10rem;
}

#navbar {
    margin-bottom: 20px;
}

#status-closed {
    color: red;
    display: inline;
}

#status-open {
    color: green;
    display: inline;
}

#status-assigned {
    color: blue;
    display: inline;
}


















