

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html * {
    font-family: "Verdana";

}

#description {
    margin-right: 20px;
    background-color: #E9F8FF;
    font-size: 13px;
    padding: 10px;
    border-radius: 15px;

}

#bidder-price {
    color: forestgreen;
    font-size: 17px;
}

hr {
    color: black;
}

#icon {
    padding: 2px;
}

#bids {
    margin-right: 20px;
    background-color: #F6F6F6;
    padding: 10px;
    border-radius: 15px;
}

alert alert-primary {
    background-color: red
}

.welcomeFeature {
    background-image: url(../images/welcome.jpg); 
    background-size: cover; 
    height: 500px; 
    width:auto
}
#post-title {
    font-weight: bold;
    color: #4C9B4A;
}

.homeIcons {
    font-size: 80px;
}
jumbotron {
    background-color: #f1f1f1;
}

#budget-box {
    font-size: 15px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
    padding-bottom: 25px;
    padding-top: 15px;
    background-color: #F6F6F6;
}

#budget {
    font-size: 45px;
}

#bid-button {
    background-color: #f2f2f2;
}


















