

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html * {
    font-family: "Verdana";

}

#description {
    margin-right: 20px;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-width:thin;
    border-color: #D8D8D8;

}

#bidder-price {
    color: forestgreen;
    font-size: 17px;
}

hr {
    color: black;
}

#icon {
    padding: 2px;
}

#bids {
    margin-right: 20px;
    background-color: #F6F6F6;
    padding: 10px;
    border-radius: 15px;
}

alert alert-primary {
    background-color: red;
}

.welcomeFeature {
    background-image: url(../images/welcome.jpg);
    background-size: cover;
    height: 500px;
    width:auto
}
#post-title {
    font-weight: bold;
    color: #4C9B4A;
}

.homeIcons {
    font-size: 80px;
}
jumbotron {
    background-color: #f1f1f1;
}

#budget-header {
    padding-top: 5px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#budget {
    text-align: center;
    font-size: 150%;
}

#bid-button {
    width: 125px;
}



/*Here is a link to a price slider range.*/

/*1)Price Slider Shopping Carts(Visit this link)*/

/*HTML*/

   /*<div id="rangeBox">*/
         /*<div id="sliderBox">*/
             /*<input type="range" id="slider0to50" step="5" min="0" max="50">*/
             /*<input type="range" id="slider51to100" step="5" min="50" max="100">*/
         /*</div>*/
         /*<div id="inputRange">*/
             /*<input type="number" step="5" min="0" max="50" placeholder="Min" id="min" >*/
             /*<input type="number" step="5" min="51" max="100" placeholder="Max" id="max">*/
         /*</div>*/
    /*</div>*/
/*CSS*/

#rangeBox{ /* carry complete  range box*/
    width:300px;
    height:100px;
}

.budgetRange {
    width: 60%
}

#inputRange{
    position:relative;
    top:50%;
}

#inputRange::after{
    content:"";
    clear:both;
    display:block
}

#inputRange #minBudget{
     width:40%;
    float:left;
}

#inputRange #maxBudget{
     width:40%;
    float:right;
}

.search_container{
    margin-top:20%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

#budget-card {
    max-width: 10rem;
}

#navbar {
    margin-bottom: 20px;
}

#status-closed {
    color: red;
    display: inline;
}

#status-open {
    color: green;
    display: inline;
}

#status-assigned {
    color: blue;
    display: inline;
}

#winner-selected-button {
    float: right;
}

#my-title {
    font-weight: bold;
}

#bid-is-assigned {
    font-size: 20px;
}
