{% extends "../base.html" %}

{% block title %}
Posts
{% endblock %}

{% block content %}

<!-- Search bar -->
<input class="form-control mt-3 mb-3" type="search" placeholder="Search Postings" aria-label="Search">

{% if post_list %}
<div>
    {% for post in post_list %}
        <div class="card mt-3 mb-3">
            <div class="card-header">
                <strong>{{post.title}}</strong>
            </div>
            <div class="card-body">
                <p class="card-text">{{post.comment}}</p>
                <p class="card-text"><i id="icon" class="far fa-calendar-alt"></i> {{post.event_date}}</p>
                <p class="card-text"><i id="icon" class="fas fa-map-marker-alt"></i> {{post.location}}</p>
                <a href="{% url 'boards:detail' post.id %}" class="btn btn-success">Details</a>
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
<p>No posts available</p>
{% endif %}
{% endblock %}
