{% extends "../base.html" %}

{% block title %}
Posts
{% endblock %}

{% block content %}

{% if post_list  %}
    <h2>Job Postings:</h2>
    <ul>
        {% for post in post_list %}
            <div class="list-group-item"><a href="{% url 'boards:detail' post.id %}">{{ post.title }}</a></div>
        {% endfor %}
    </ul>
{% else %}
    <p>No Questions available</p>
{% endif %}

    <button class="btn-block" href="{% url 'boards:create_post' %}">
        Create a new post
    </button>

{% endblock %}