{% extends "../base.html" %}

{% block title %}
My Bids
{% endblock %}

{% block content %}

{% if bid_list %}
<h2 id="my-title">My Bids</h2>
<div>
    {% for bid in bid_list %}
    <div class="card mt-3 mb-3">
        <div class="card-header">
            <strong>{{bid.post.title}} |
                {% if bid.post.status == "OPEN" %}
                    <p id="status-open">{{ bid.post.status }}</p>
                {% elif bid.post.status == "CLOSED" %}
                    <p id="status-closed">{{ bid.post.status }}</p>
                {% elif bid.post.status == "ASSIGNED" %}
                    <p id="status-assigned">{{ bid.post.status }}</p>
                {% endif %}
            </strong>
            <a href="{% url 'boards:detail' bid.post.id %}" class="card-link" style="float: right">Details</a>
        </div>
        <div class="card-body">
            <div class="container">
                <p class="card-text">{{bid.post.comment}}</p>
              <div class="row">
                <div class="col">
                    <div class="card-body" style="padding: 5px">
                        <p class="card-text"><i class="fas fa-dollar-sign"></i>{{ bid.post.budget }}</p>
                        <p class="card-text">Closing on {{bid.post.end_date.date }}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                        <p class="card-text"><i id="icon"
                                                class="far fa-calendar-alt"></i> {{ bid.post.event_date.date }}</p>
                        <p class="card-text"><i id="icon"
                                                class="fas fa-map-marker-alt"></i> {{ bid.post.location }}</p>
                    </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="card-body">
                <strong>My Bid | ${{bid.price}}</strong>
                <br>
                <br>
                <p class="card-text"><i class="fas fa-address-book"></i> {{ bid.contact_details }}</p>
                <p class="card-text"><i class="fas fa-comments"></i> {{ bid.comment }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>You have not bidded on any posts</p>
{% endif %}
{% endblock %}
