{% extends "../base.html" %}

{% block title %}
My Bids
{% endblock %}

{% block content %}

{% if bid_list %}
<h2>My Bids:</h2>
<div>
    {% for bid in bid_list %}
    <div class="card mt-3 mb-3">
        <div class="card-header">
            <strong>{{bid.post.title}} |
                {% if bid.post.status == "OPEN" %}
                    <p id="status-open">{{ bid.post.status }}</p>
                {% elif bid.post.status == "CLOSED" %}
                    <p id="status-closed">{{ bid.post.status }}</p>
                {% elif bid.post.status == "ASSIGNED" %}
                    <p id="status-assigned">{{ bid.post.status }}</p>
                {% endif %}
            </strong>
        </div>
        <div class="card-body">
            <p class="card-text">{{bid.post.comment}}</p>
            <p class="card-text"><i id="icon" class="far fa-calendar-alt"></i> {{bid.post.event_date}}</p>
            <p class="card-text"><i id="icon" class="fas fa-map-marker-alt"></i> {{bid.post.location}}</p>
            <a href="{% url 'boards:detail' bid.post.id %}" class="btn btn-success">Details</a>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>You have not bidded on any posts</p>
{% endif %}
{% endblock %}
