{% extends "../base.html" %}

{% block title %}
My Posts
{% endblock %}

{% block content %}

{% if post_list %}
<h2 id="my-title">My Bids</h2>
<div>
    {% for post in post_list %}
    <div class="card mt-3 mb-3">
        <div class="card-header">
            <strong>{{post.title}} |
                {% if post.status == "OPEN" %}
                    <p id="status-open">{{ post.status }}</p>
                {% elif post.status == "CLOSED" %}
                    <p id="status-closed">{{ post.status }}</p>
                {% elif post.status == "ASSIGNED" %}
                    <p id="status-assigned">{{ post.status }}</p>
                {% endif %}
            </strong>
        </div>
        <div class="card-body">
            <p class="card-text">{{post.comment}}</p>
            <p class="card-text"><i id="icon" class="far fa-calendar-alt"></i> {{post.event_date.date}}</p>
            <p class="card-text"><i id="icon" class="fas fa-map-marker-alt"></i> {{post.location}}</p>
            <a href="{% url 'boards:detail' post.id %}" class="btn btn-success">Details</a>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No posts available</p>
{% endif %}
{% endblock %}
