{% extends "../base.html" %}

{% block title %}
My Posts
{% endblock %}

{% block content %}

{% if post_list %}
<h2>My Posts:</h2>
<div>
    {% for post in post_list %}
    <div class="card mt-3 mb-3">
        <div class="card-header">
            {{post.title}}
        </div>
        <div class="card-body">
            <p class="card-text">{{post.comment}}</p>
            <a href="{% url 'boards:detail' post.id %}" class="btn btn-primary">Details</a>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No posts available</p>
{% endif %}
{% endblock %}